body {
	padding-top: 55px; 
	padding-bottom: 40px; 
	background-image: url("../images/background.jpg"); 
	background-attachment:fixed;
}
.img-thumbnail {
	background-color:rgba(255,255,255,0.3);
	padding: 10px;
	margin-bottom: 20px;
}
#article_image figure{
position: relative;
margin: 0 auto;
}
#article_image img{
z-index: 10;
max-width: 100%;
    vertical-align: middle;
}
#article_image figcaption {
    color: black;
    font:13px/20px Arial, sans-serif;
    background:#000000;
    background:rgba(0,0,0,.2);
	text-align: left;
	padding-left: 10px;
}

.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd; }
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 14px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
.form { margin-bottom: 10px; padding: 20px;}
.upload{
float: right;
}
#title {font-weight:bold;}
a{
	color: black;
}
#search:hover{
	color: #428BCA;
}
hr{
	border-top: 1px solid #ccc;
}
i {
	color: black; font-size: 20px; margin-right: 5px;
}
i:hover {
	opacity:0.5;
}
h1 {
	font-size: 50px; color: #666362; text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.active_page{
	border-bottom:1px solid #6E6E6E;
}

#slides {display: none}
#slider_img{position:fixed;}
#slides .slidesjs-navigation {margin-top:3px;}
#slides .slidesjs-previous {margin-right: 5px; float: left;}
#slides .slidesjs-next {margin-right: 5px; float: left;}
.slidesjs-pagination {margin: 6px 0 0; float: right; list-style: none;}
.slidesjs-pagination li {float: left; margin: 0 1px;}
.slidesjs-pagination li a {display: block;width: 13px; height: 0; padding-top: 13px; background-image: url('../images/pagination.png'); background-position: 0 0; float: left; overflow: hidden;}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {background-position: 0 -13px}
.slidesjs-pagination li a:hover {background-position: 0 -26px}
#slides a:link, #slides a:visited {color: #333}
#slides a:hover, #slides a:active {color: #9e2020}
	
	