{% extends "PortfolioPortfolioBundle::layout.html.twig" %}
 
{% block title %}
  Portfolio - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
		<form class="thumbnail span10" name="addArticle" action="/Symfony/web/app_dev.php/addArticle" method="post" enctype="multipart/form-data">
			<h2>New article<h2/><br/>
			<div class="upload span3">
				<span id="images" style="display:none;">Multiple </span>Images: <input type="file" name="files" multiple="multiple"><br/>
			</div>
			<div class="controls controls-row">
				<input id="autor" name="autor" type="text" class="span3" placeholder="Autor"> 
				<input id="title" name="title" type="text" class="span3" placeholder="Title"> 
			</div>
			<div class="controls">
				<textarea id="description" name="description" class="span6" placeholder="Description" rows="3"></textarea><br/>
				<textarea id="content" name="content" class="span6" placeholder="Content" rows="5"></textarea>
			</div>
			<div class="controls">
				<button id="contact-submit" type="submit" class="btn btn-primary input-medium pull-right">Send</button>
			</div>
		</form>
	</div>
	
{% endblock %}