{% extends "PortfolioPortfolioBundle::layout.html.twig" %}
 
{% block title %}
  Portfolio - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="span12">
			<ul class="thumbnails">
				{% for key,article in articles %}
				  <li class="span6">
					<div class="thumbnail">
						<h3>Title test</h3>
					  <img src="{{ asset('bundles/portfolioportfolio/pictures/Penguins.jpg') }}" data-src="data-src="holder.js/300x200" alt="Test"><br/>
					  <p>{{ article.0 }}</p>
					  <a href="#" class="btn btn-primary">Display</a>
					</div>
				  </li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}