{% extends "PortfolioPortfolioBundle::layout.html.twig" %}
 
{% block title %}
  Portfolio - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
	  <div class="span12">
		<h2>Article</h2>
		<p>Aricle x</p>
	  </div>
	</div>
{% endblock %}