{% extends "PortfolioPortfolioBundle::layout.html.twig" %}
 
{% block title %}
  Portfolio - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
	  <div class="span12">
		<h2>Contact</h2>
		<p>	<br />
		<b>Deep<br />
		7th Floor<br />
		Block 2<br />
		Elizabeth House<br />
		39 York Road<br />
		London SE1 7NQ</b><br />
		<br />
		T +44 (0)20 7593 0555<br />
		F +44 (0)20 7593 0556<br />
		<br />
		For new business enquiries please contact talktous@deep.co.uk<br /></p>
	  </div>
	</div>
{% endblock %}