{% extends "PortfolioPortfolioBundle::layout.html.twig" %}
 
{% block title %}
  Portfolio - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12"><br/>
			<div class="col-md-8 img-thumbnail">
				<div class="col-md-8 col-md-offset-2">
					<center>
						<h3>Contact me!</h3>
						<hr>
						<address>
							<strong>Email:</strong> <a href="mailto:#"> name@domain.com</a><br><br>
							<strong>Phone:</strong> (555)123-4567
						</address>
					</center>
				</div>
				<div class="contact-form">
					<form id="contact" method="post" class="form" role="form">
							<div class="col-md-6 form-group">
								<input class="form-control" id="name" name="name" placeholder="Name" type="text" required autofocus />
							</div>
							<div class="col-md-6 form-group">
								<input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
							</div>
							<div class="col-md-12 form-group">
								<textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
								<br />								<button class="btn btn-warning pull-right" type="submit">Send</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}