{% extends "PortfolioPortfolioBundle::layout.html.twig" %}
 
{% block title %}
  Portfolio - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<h2>Welcome</h2>
			<div id="slides">
				{% for key,image in images %}
					<img class="slider_img" src="/Symfony/web/upload/pictures/{{ image.title }}" alt="{{ image.title }}" />
				{% endfor %}
				<a href="#" class="slidesjs-previous slidesjs-navigation"></a> 
				<a href="#" class="slidesjs-next slidesjs-navigation"></a>
			</div>
		</div>
	</div>
{% endblock %}