{% extends "PortfolioPortfolioBundle::layout.html.twig" %}
 
{% block title %}
  Portfolio - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
	  <div class="col-md-12">
		<center><h2>Login</h2></center>
		<p>
			Login - Register : here
		</p>
	  </div>
	</div>
{% endblock %}