{% extends "PortfolioPortfolioBundle::layout.html.twig" %}
 
{% block title %}
  Portfolio - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row" id="page_studies">
	  <div class="span12">
		<h2>Studies</h2>
		<p>YO</p>
	  </div>
	</div>
{% endblock %}