{% extends "PortfolioPortfolioBundle::layout.html.twig" %}
 
{% block title %}
  Portfolio - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12"><br/>
			<div class="col-md-8 img-thumbnail">
				<div class="col-md-11">
					<h3>Senior Designer</h3>
					<h6>Holler Sydney, Australia</h6>
					<h6>06.05.2013 - 21.06.2015</h6>
					<h6><b><a href="#">More... </a></b></h6>
				</div>

				<div class="col-md-1">
					<div class="btn-group">
						<a class="btn dropdown-toggle btn-default blue" data-toggle="dropdown" href="#">
							<span class="icon-cog icon-white"></span><span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
							<li><a href="#"><span class="icon-trash"></span> Delete</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-8 img-thumbnail">
				<div class="col-md-11">
					<h3>Designer</h3>
					<h6>Holler Sydney, Australia</h6>
					<h6>06.05.2013 - 21.06.2015</h6>
					<h6><b><a href="#">More... </a></b></h6>
				</div>

				<div class="col-md-1">
					<div class="btn-group">
						<a class="btn dropdown-toggle btn-default blue" data-toggle="dropdown" href="#">
							<span class="icon-cog icon-white"></span><span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
							<li><a href="#"><span class="icon-trash"></span> Delete</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-8 img-thumbnail">
				<div class="col-md-11">
					<h3>Illustrator, Designer and Animator</h3>
					<h6>Cyberdesign Works Sydney, Australia</h6>
					<h6>06.05.2013 - 21.06.2015</h6>
					<h6><b><a href="#">More... </a></b></h6>
				</div>

				<div class="col-md-1">
					<div class="btn-group">
						<a class="btn dropdown-toggle btn-default blue" data-toggle="dropdown" href="#">
							<span class="icon-cog icon-white"></span><span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
							<li><a href="#"><span class="icon-trash"></span> Delete</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-8 img-thumbnail">
				<div class="col-md-11">
					<h3>Illustrator & Designer</h3>
					<h6>Reborn Sydney, Australia</h6>
					<h6>06.05.2013 - 21.06.2015</h6>
					<h6><b><a href="#">More... </a></b></h6>
				</div>

				<div class="col-md-1">
					<div class="btn-group">
						<a class="btn dropdown-toggle btn-default blue" data-toggle="dropdown" href="#">
							<span class="icon-cog icon-white"></span><span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
							<li><a href="#"><span class="icon-trash"></span> Delete</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}