{% extends "PortfolioPortfolioBundle::layout.html.twig" %}
 
{% block title %}
  Portfolio - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
	  <div class="span12">
		<h2>Studies</h2>
		<p>
			<ul>
				<li><b>Senior Designer</b><br/>
				Holler Sydney, Australia<br/></li>
				<li><b>Designer</b><br/>
				Holler Sydney, Australia<br/></li>
				<li><b>Illustrator & Designer</b><br/>
				Reborn Sydney, Australia<br/></li>
				<li><b>Illustrator, Designer and Animator</b><br/>
				Cyberdesign Works Sydney, Australia</li>
			</ul>
		</p>
	  </div>
	</div>
{% endblock %}